.gray {
  color: gray;
}
.card {
  max-width: 176px;
  height: auto;
  font-size: 12px;
  position: relative;
  /* border-radius: 10px; */
  /* box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px; */
}
.card-image {
  width: 176px;
  height: 235px;
  object-fit: cover;
  border-radius: 10px;
}

.card-star {
  height: 12px;
  margin-right: 4px;
}

.card-rating {
  display: flex;
  text-align: center;
  /* padding-left: 10px; */
}
.card-container {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.card-rating-text {
  padding: 0px;
  margin: 0px;
}
.card-description {
  margin: 10px 0 0 0;
  /* padding-left: 10px ; */
  text-align: left;
}

.card-price {
  margin: 10px 0 0 0;
  /* padding-left: 10px ; */
  text-align: left;
}

.card-tag {
  background-color: white;
  border-radius: 3px;
  position: absolute;
  padding: 0.5em 0.5em;
  top: 8px;
  left: 8px;
  font-size: 10px;
  font-weight: 600;
}
