section{
    padding: 20px;
}

.hero-container{
    display: flex;
    flex-direction: column;
}

.hero-image{
    max-width: 800px;
    object-fit: contain;
    align-self: center;
}

.hero-heading{
    padding: 10px 0px 10px 40px;
    font-size: 46px;
    font-weight:600;
    text-align: left;
    margin-bottom: 0;
}
.hero-text{
    max-width: 600px;
    margin-top: 0;
    text-align: left;
    padding: 10px 0px 10px 40px;
    font-size: 26px;
    font-weight: 300;
}